@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
/* font-family: 'Playfair Display', serif; */


/* NAV BAR */
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
    color: #AFCCAA;
    margin-top: 3vh;
    font-family: 'Poppins', sans-serif;
}

nav a, nav #optionBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav #optionBar a{
    margin-left: 3vw;
    text-decoration: none;
    color: #AFCCAA;
}

nav a{
    text-decoration: none;
}

nav a text{
    text-decoration: none;
    color:#AFCCAA;
    margin-left: 1vw;
    font-size: 1.5rem;
    font-weight: bold;
}

nav a text:hover, #optionBar a:hover{
    color:#546A5B;
    font-weight: bold;
}

body{
	font-size: 20px;
  margin: auto;
	color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #fff6ea;
}
h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #546a5b;
  color: #fff;
}
.question{
  font-size: 30px;
  margin-bottom: 30px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Poppins', sans-serif;
	font-size: 22px;
	background-color: #afccaa;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
  margin-top: 30px;
}
button:hover{
	background-color: #c57d0e;
}

.block{
  background-color: white;
  border-radius: 10px;
  border-style: outset;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.25);
  margin: 20px;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}


/* NAV BAR */
/*
nav{
  display: flex;
  justify-content: space-between;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2vh;
  color: #AFCCAA;
  margin-top: 3vh;
}

nav a, nav #optionBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav #optionBar a{
  margin-left: 3vw;
  text-decoration: none;
  color: #AFCCAA;
}

nav a{
  text-decoration: none;
}

nav a text{
  text-decoration: none;
  color:#AFCCAA;
  margin-left: 1vw;
  font-size: 1.5rem;
  font-weight: bold;
}

nav a text:hover, #optionBar a:hover{
  color:#546A5B;
  font-weight: bold;
}*/

/* HEADER */
header{
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 10vh;
  padding-bottom: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header img{
  max-width: 723px;
}

#headerLeftColumn{
  width: 30vw;
}

#headerLeftColumn h1{
  font-family: 'Playfair Display', serif;
  font-size: 3.7rem;
  font-weight: bold;
  color: #C57D0E;
}