@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
/* font-family: 'Playfair Display', serif; */


body{
    background-color: #FFF6EA;
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

/* NAV BAR */
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
    color: #AFCCAA;
    margin-top: 3vh;
}

nav a, nav #optionBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav #optionBar a{
    margin-left: 3vw;
    text-decoration: none;
    color: #AFCCAA;
}

nav a{
    text-decoration: none;
}

nav a text{
    text-decoration: none;
    color:#AFCCAA;
    margin-left: 1vw;
    font-size: 1.5rem;
    font-weight: bold;
}

nav a text:hover, #optionBar a:hover{
    color:#546A5B;
    font-weight: bold;
}

/* HEADER */
header{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header img{
    max-width: 723px;
}

#headerLeftColumn{
    width: 30vw;
}

#headerLeftColumn h1{
    font-family: 'Playfair Display', serif;
    font-size: 3.7rem;
    font-weight: bold;
    color: #C57D0E;
}

#landingResourceButtons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.landingButton{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 12px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px #546A5B;
}

#forGirlsButton{
    background-color: #546A5B;
    color: #FFF6EA;
    margin-right: 1vw;
}

#forGirlsButton:hover{
    background-color: #FFF6EA;
    color: #546A5B;
    margin-right: 1vw;
}

#forWomenButton{
    color: #546A5B;
}

#forWomenButton:hover{
    background-color: #546A5B;
    color: #FFF6EA;
}

/* ABOUT US SECTION*/

main{
    background-color: #AFCCAA;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
}

main h1{
    color: #FFF6EA;
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 50px;
}

#aboutUsRow1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#FFF6EA;
}

#aboutUsRow1 p{
    width: 50vw;
    font-size: 1.25rem;
}

#aboutUsRow1 img{
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.25);
}

#aboutUsRow2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#FFF6EA;
    margin-top: 100px;
    padding-bottom: 100px;
}

#aboutUsRow2 p{
    width: 35vw;
    font-size: 1.25rem;
}